.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.white {
  background: #fff;
}



/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: rgba(201, 202, 202, 0.842);
}

img {
  width: 75%;
}

img.resize{
  max-width:150%;
  max-height: 150%;
}

table, th, td{
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
  color: black;

}

p {
  background-color: white;
  font-size: 15px;
  color: rgb(196, 189, 189)
}
h2 {
  font-size: 35px;
  color: rgb(94,206,181);
  text-align: center;
}

h3 {
  font-size: 25px;
  color: rgb(94,206,181);
  text-align: center;
}
.dropbtn {
  background-color: #5eceb5;
  color: #fcfcfc);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5eceb5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #5eceb5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5eceb5;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:#5eceb5;}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: rgb(245, 248, 247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(94,206,181);
  color: white;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: center;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #fff;
  text-align: left;
}

